:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.crypto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  color: white;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}

.select {
  width: auto;
  height: 32px;
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
}

.data-list {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

.data-item {
  font-size: 16px;
  margin-bottom: 8px;
}

.data-label {
  font-weight: bold;
}