:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.crypto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #3f51b5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  color: white;
}

.title {
  font-size: 36px;
  margin-bottom: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #333;
}

.select {
  width: auto;
  height: 40px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: white;
  color: #3f51b5;
  border: none;
  padding: 0 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.data-list {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.data-item {
  font-size: 18px;
  margin-bottom: 8px;
}

.data-label {
  font-weight: bold;
}

/*Hero section
*/

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.header input[type="text"] {
  width: auto;
  margin-left: auto;
  padding: 10px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  font-family: inherit;
}

.header button {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
}

/* todo section */
.todo-list {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
 
}

.todo-list h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.todo-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list input[type="checkbox"] {
  margin-right: 0.5em;
}

.todo-list span {
  cursor: pointer;
  font-size: 1.3em;
  font-family: inherit;
}

.todo-form,
.todo-update-form {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.todo-form input[type="text"],
.todo-update-form input[type="text"] {
  width: 60%;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid gray;
  margin-right: 1em;
}

.todo-form button,
.todo-update-form button {
  padding: 0.5em 1em;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-list li {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 20px;
  background-color: rgba(63, 81, 181, 0.5);
  border-radius: 5px;
}

.todo-list li i {
  display: none;
  position: absolute;
  margin-right: 50px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  cursor: pointer;
}

.todo-list li:hover i {
  display: block;
}